body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    margin: auto;
    height: 500px;
    width: 400px;
    display: flex;
    border: 5px solid #f4f4f4 ;
    flex-wrap: wrap;
}

.column {
    padding: 20px;
    text-align: center;
}


.myCanvas {
    height: 300px;
    width: 297px;
    display: flex;
    
}
.inputbtn{
    height: 300px;
    width: 96px;
    
}
.inputsldr{
    height:200px;
    width: 400px;
    margin-left: 10px;
}
/* CSS for input ranges */
input[type="range"] {
    margin-top: 30px;
    margin-left: 10px;
    width: 80%;
    height: 20px;
    border-radius: 10px;
    background: #ddd;
    outline: none;
    margin-bottom: 10px;
  }
  
  /* CSS for input ranges track */
  input[type="range"]::-webkit-slider-runnable-track {
    width: 80%;
    cursor: pointer;
    border-radius: 5px;
  }
  
  
/* CSS for input labels */
.inputbtn label {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    padding: 3px;
  }
  
  /* CSS for input fields */
  .inputbtn input[type="number"] {
    display: flex;
    width: 40%;
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid #100a0a;
    border-radius: 4px;
  }
  
  /* Optional: You can style the input fields on focus */
  .inputbtn input[type="number"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px #007bff;
  }
  .btns{
    height: 300px; ;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
  }
  




@media (max-width: 600px) {

    #mue {
        top: 50vh; /* Adjust top position for smaller screens */
        margin-left: 45px; /* Adjust margin for smaller screens */
    }

    h3 {
        top: 10px; /* Adjust top position for smaller screens */
    }

    button {
        top: 35vh; /* Adjust button position for smaller screens */
        left:200px
    }
}